*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    transition: all .2s linear;
}
ul,ol{
    list-style-type: none;
}
