@import "reset";

header {
    
    ul.list-group {

        li.list-group-item {
            background-color: transparent;
            transition: color 0.2s linear;

            a {
                color: #6c757d;
            }

            .dropdown-menu1 {
                width: 160px;

                a {
                    transition: none;
                }
                a:hover {
                    background-color: #dfe4ea;
                }
                a:focus {
                    color: white !important;
                    background-color: blue;
                }
            }
            
        }
        li.list-group-item.active {
            background-color: transparent;
            a {
                color: #212529;
            }
        }
        li.list-group-item:hover {
            a {
                color: black;
            }
        }

    }

    .font {
        font-size: 25px;
    }
}

section#cards{

    .card {
        height: 375px;
    
        .card-header.sale {
            position: relative;
        }
        .card-header.sale::before {
            content: "Sale";
            position: absolute;
            font-size: 0.75rem;
            top: 5%;
            right: 5%;
            color: white;
            background-color: #212121;
            padding: 0 0.5rem;
            border-radius: 0.25rem;
            cursor: text;
        }
    
        .card-footer{
    
           & >.buton:hover {
                background-color: #212529;
            }
        }
    }
   
}





